<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28133017720-v701c42d50pnrsr617qhd7ja1o3e4fjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28133017720-v701c42d50pnrsr617qhd7ja1o3e4fjf</string>
	<key>API_KEY</key>
	<string>AIzaSyCZe8Q1AChTlEdYns6XUDNQYTY4EWnfs_I</string>
	<key>GCM_SENDER_ID</key>
	<string>28133017720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>helle.thitouane.projet</string>
	<key>PROJECT_ID</key>
	<string>projeths-tm</string>
	<key>STORAGE_BUCKET</key>
	<string>projeths-tm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28133017720:ios:1893012335016c9d37c58d</string>
</dict>
</plist>